/* src/App.css */
.App {
  text-align: center;
  background: url('./images/background.webp') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.App-header button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #61dafb;
  color: #282c34;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.movie-card {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  width: 200px;
  color: #fff;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.movie-info h3 {
  font-size: 1.2em;
  margin: 0;
}

.movie-info p {
  font-size: 0.9em;
  margin: 5px 0 0 0;
}
