.App-header {
  background-color: #141414;
  color: #e50914; /* Netflix red color */
  padding: 20px;
  text-align: center;
}

.App {
  background-color: #141414;
  min-height: 100vh;
  color: #ffffff;
  padding: 20px;
}

.MuiContainer-root {
  padding: 20px;
}

.MuiCard-root {
  background-color: #1f1f1f;
  color: #ffffff;
}

.MuiTypography-root {
  color: #ffffff; /* Ensure all Typography text is white */
}

.MuiOutlinedInput-root {
  color: #ffffff;
  border-color: #e50914;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #e50914;
}

.MuiButton-containedPrimary {
  background-color: #e50914;
  color: #ffffff;
}
